h1 {
  /* Màu chữ */
  color: blueviolet;
  /* Kiểu chữ */
  font-style: italic;
  /* font chữ */
  font-family: Arial, Helvetica, sans-serif;
  /* Chuyển hoa thường */
  text-transform: none;
  /* căn chỉnh */
  text-align: center;
  /* Cỡ chữ */
  font-size: 24px;
}
